<style>

#Question {
  padding: 10px;
  margin: 10px;
  height: 150px;
  font-family: Sans-serif;
  background-color: #eeee77;
}

#Equation {
  padding: 10px;
  margin: 10px;
  height: 20px;
  font-family: monospace;
  background-color: #eeee77;
}

button {
  font-family: Sans-serif;
  color: blue;
  background: none;
  border: none;
  text-decoration: underline;
}


</style>
